body {
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	line-height: 1;
}



a {
	color: #6b6b6b;
	text-decoration: none;
}

a.head-link {
	color: #FFFFFF;
}

a:hover {
	color: #C9654E;
}

h1 {
	color: #888484;
	font-weight: 300;
	padding: 10px;
}

h3, 
p, 
h2,
h1{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;


}

/*nav styles*/

nav {
	background: #4EB2C9;
	height: 100px;
	padding: 5px 16px 0;
	/*max-width: 1200px;*/
}

.nav-top {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.nav-top img {
	padding: 5px;
	width: 17px;
}

img#arrow {
	margin-top: 5px;
	padding: 5px;
	width: 12;
}

.nav-bottom {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.nav-bottom img {
	margin-right: 5px;
	width: 22px;
}

.nav-hed {
	font-size: 16px;
	font-weight: 300;
	padding-top: 5px;
}

.left-bottom, 
.center-bottom,
.right-bottom {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 25px 20px 20px 20px;
}

.logo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
}

img.logo-img {
	margin-top: 3px;
	width: 25px;
}

h1.logo-txt {
	padding: 0px;
}


/*main container*/
main {
	background: #f3f0f0;
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}
.card-holder {
	display: flex;
	flex-wrap: wrap;
}

.card-top {
	align-items: flex-start;
	color: white;
	display: flex;
	height: 125px;
	justify-content: space-between;
}


.top-right {
	align-items: center;
	background: rgb(0, 0, 0); 
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	margin-top: 0;
	padding: 0 10px 10px 10px;
}
.top-left {
 	background-image:url(images/heart_icon-07.png);
 	background-position: bottom 15px right 20px;
 	background-repeat: no-repeat;
 	height: 35px;
 	padding-top: 10px;
 	padding-left: 10px;
 	width: 40px;
}
.top-left:hover {
 	background-image:url(images/heart_icon-06.png);
}
.big-number {
 	font-size: 25px;
 	font-weight: 300;
 	margin-top: 5px;
 }
 .card1, 
 .card2,
 .card3,
 .card4,
 .card5,
 .card6,
 .card7,
 .card8 {
 	background-repeat: no-repeat;
 	background-size: cover;
}
 .small-hed {
 	font-size: 12px;
 	font-weight: 300;
 	padding-top: 5px;
 }

 .alt-color {
 	color: white;
 }

 .card1 {

 	background-image:url(images/colorado2.jpg);
 	height: 125px;
 }

 .card2 {
 	background-image: url(images/venice2.jpg);
 	height: 125px;
 }

 .card3 {
 	background-image: url(images/phu-quoc-island-ocean2.jpg);
 	height: 125px;
 }

 .card4 {
 	background-image: url(images/city_scape2.jpg);
 	height: 125px;
 }

 .card5 {
 	background-image: url(images/abu-dhabi2.jpg);
 	height: 125px;
 }

 .card6 {
 	background-image: url(images/beach2.jpg);
 	height: 125px;
 }

 .card7 {
 	background-image: url(images/windy_road_resized3.jpg);
 	height: 125px;
 }

 .card8 {
 	background-image: url(images/city-beach.jpeg);
 	height: 125px;
 }


 h3 {
 	color: #6b6b6b;
 	font-size: 18px;
 	font-weight: 300;
 }

 .bottom-card {
 	margin-top: 20px;
 	margin-left: 20px;
 }

 .bottom-small {
 	color: #6b6b6b;
 	font-size: 12px;
 	font-weight: 300;
 }

 .accent {
 	color: #C9654E;
 }

 .bottom-margin {
 	margin-bottom: 15px;
 }

 .small-margin{
 	margin-bottom: 5px;
 }

.card-text {
	color: #b1aeae;
	font-size: 13px;
	margin-top: 5px;
}

.link-div {
	background: #f3f0f0;
	color: #6b6b6b;
	font-size: 14px;
	height: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 220px;
}

.card {
	box-shadow: 1.5px 3px 3px 1.5px #566782;
	background: #ffffff;
	margin: 10px;
	width: 280px;
}

@media screen and (min-width: 1300px) {
	.inside-nav {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 900px;
	}
	
}

@media screen and (max-width: 900px) {
	.container {
		width: 600px;
	}
}

@media screen and (max-width: 600px) {
	
	.container { 
		width: 300px;
	}

	.nav-hed {
		font-size: 12px;
	}
		.left-bottom, 
		.center-bottom,
		.right-bottom {
			margin: 25px 5px 10px 1px;
		}
		.logo {
			margin-top: 10px;
		}

	}


